# Ignore credentials and tokens
settings/credentials.json
settings/token.json

# Ignore Test folder
test
personal

# release folders and files
dist
build
GUI.spec

# Ignore files and folder auto generated
__pycache__
.vscode
