Babel==2.13.1
CTkMenuBar==0.3
CTkMessagebox==2.5
customtkinter==5.2.1
google_api_python_client==2.106.0
google_auth_oauthlib==1.1.0
matplotlib==3.8.2
pandas==2.2.0
plotly==5.18.0
protobuf==4.25.2
Requests==2.31.0
tkcalendar==1.6.1