CTkMenuBar==0.8
CTkMenuBar==0.8
CTkMessagebox==2.7
CTkTable==1.1
CTkTable==1.1
CTkToolTip==0.8
CTkToolTip==0.8
customtkinter==5.2.2
google_api_python_client==2.154.0
google_auth_oauthlib==1.1.0
Markdown==3.7
matplotlib==3.9.2
pandas==2.2.3
Pillow==11.0.0
plotly==5.24.1
protobuf==5.29.0
pyperclip==1.9.0
Requests==2.32.3
tkcalendar==1.6.1
